html,body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
#content {
	width:980px;
	margin:0 auto;
	border-right: 1px solid #555555;
	border-left: 1px solid #555555;
	min-height:100%;
}
#editor {
	background: #eeeeee;
	height: 380px;
	text-align:center;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #cccccc;

}
#editor img {
	margin: 10px;
}
#title {
	background: #555555;
	color: white;
	font-family: Arial;
	font-size: 18pt;
	font-weight: bold;
	padding: 10px;
}
#input {
	background: #555555;
	color: white;
	font-family: Arial;
	font-size: 18pt;
	font-weight: bold;
	padding: 0 10px 10px 10px;
}
#input input {
	font-family: Arial;
	font-size: 18pt;
	font-weight: bold;
}
#input input[type="text"] {
	width:700px;
}
#input input[type="submit"] {
	width:220px;
}
.thread {
	border-bottom: 7px solid #555555;
	font-family: Arial;
	font-size: 10pt;
	text-align:center;
}
.doodle_title {
	font-size: 12pt;
	font-weight: bold;
}
.own {
	color:red;
}
.own img {
	border: 2px solid red;
}
.gray {
	background:#eeeeee;
}
#banner a {
	color:#555555;
	text-decoration:underline;
}
#banner a:hover {
	color:black;
}
#roomtop {
	background: #eeeeee;
	color: black;
	font-family: Arial;
	font-size: 18pt;
	font-weight: bold;
	padding: 10px;

}
#roomtop a {
	color: #888888;
	font-weight: normal;
}
#roomtop a:hover {
	color: #000000;
}
#title a {
	color: #cccccc;
	font-weight: normal;
}
#title a:hover {
	color: #ffffff;
}